@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap')
;
.orbitron-400 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}
.orbitron-500 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal
}
.orbitron-600 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal
}
.orbitron-700 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal
}
.obbitron-800 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weightt 800;
  font-style: normal
}
.orbitron-900 {
  font-family: "Orbitron", sans-serf;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal
}

